table {
    margin: auto;
}
body{
    padding-top: 256px;
}
table, tr, td, th {
    border-collapse: collapse;
    border-color: black;
    border-width: 1px;
    border-style: solid;


}
td{
padding: 64px, 64px, 64px, 64px;
    
}
h2{
  text-align: center;

}