footer{
    padding-top: 64px;
    text-align: center;
}

table, tr, td, th {
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    padding-left: 16px;

}
html{
    background-image: url(image/dollars.jpg);
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
    font

}

tr:nth-child(even){
color: black;
background-color: aqua;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  30px;
    text-align: center;

    
}
tr:nth-child(odd){
    color: white;
}
td{
    text-align: left;
}
table{
    margin: auto;
}